.header {
    height: 50px;
    background-color: $nav-color;
    @include FlexCenter;
    .wrapper {
        width: $wrapper-desktop;
        @include FlexBetween;
        .header-nav {
            @include FlexCenter;
            .navlink {
                padding: 0 1rem;
            }
        }
        
    }
}