.navlink {
    text-decoration: none;
    li {
        list-style: none;
        color: $navlink;
        text-align: center;
        transition: color 200ms ease;
        &:hover {
            color: $nice-white;
        }
    }
}