* {
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  text-decoration: none;
  list-style: none;
  color: #111;
}

html, body {
  height: 100%;
}

/*OWN CODE*/

/*HEADER SECTION*/

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f3f3f3;
  height: 120px;
  width: 100%;
  opacity: 0.97;
}

.logo-img {
  display: none;
}

.logo-text-desktop {
  display: none;
}

.logo-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 15px 0;
  border-bottom: solid black 3px;
  width: 225px;
}

body header nav ul {
  display: block;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

body header nav ul li {
  float: left;
  padding: 0 16px;
}

body header nav ul li a {
  font-size: 18px;
}

body header nav ul li a:hover {
  font-size: 19px;
  font-weight: bold;
  border-bottom: solid black 1px;
  transition: all 0.1s ease-in;
}

/*MAIN SECTION*/

main {
  margin-top: 120px;
  min-height: calc(100% - 120px - 40px);
}

.index-banner {
  width: 100%;
  height: 30vh;
  background-image: url(img/static-imgs/repair6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table;
}

.index-banner-text {
  display: table-cell;
  vertical-align: middle;
}

.index-banner-img {
  
}

.index-banner-text h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #111;
}

.index-banner-text h4 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #111;
}

.wrench-img {
  width: 50px;
}

.box.links {
  display: inline;
}

.box-link-styling {
  background-color: #f3f3f3;
  margin: 10px;
  width: calc(100% - 20px);
  height: 100px;
  text-align: center;
}

/*FOOTER SECTION*/

footer {  
  background-color: #111;
  height: 100px;
}

.guideline-links {
  margin-top: 10px;
  margin-right: 10px;
}

.guideline-links div ul li a {
  font-size: 15px;
  color: #f3f3f3;
}

footer h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #f3f3f3;
}

/*---TABLET AND DESKTOP---*/

@media only screen and (min-width: 834px) {

/*HEADER SECTION*/
.logo-img {
  display: block;
  height: 0px;
}

.logo-img img {
  margin-top: 7.5px;
  margin-left: 40px;
  width: 75px;
}

/*
.logo-img img:hover {
  margin-top: 9px;
  margin-left: 39px;
  width: 77px;
  transition: all 0.1s ease-in-out;
}
*/

.logo-text-desktop {
  display: block;
  margin: 15px 0 0 145px;
  border-left: solid #111 3px;
  padding-left: 30px;
}

.logo-text {
  display: none;
}

body header {
  height: 90px;
  border-bottom: solid darkgrey 3px;
}

body header nav ul {
  margin-top: -60px;
  margin-right: 50px;
}

body header nav ul li a {
  font-size: 30px;
}

body header nav ul li a:hover {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}

.index-banner {
  height: 40vh;
}

/*MAIN SECTION*/

main {
  margin-top: 90px;
  min-height: calc(100% - 90px - 40px);
}

.index-banner-text {
  font-size: 30px;
}

}


@media only screen and (min-width: 1000px) {
.index-banner {
  height: 50vh;
}

}


