//Reset SCSS

@import "colors.scss";
@import "sizes.scss";
@import "transition.scss";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pointer-up {
    z-index: 1;
    position: fixed;
    height: 4rem;
    left: 93%;
    top: 88%;
    opacity: 70%;
    cursor: pointer;
}

header {
    z-index: 1;
    height: $header-height;
    background: $background-color;
    opacity: 98%;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    .logo {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 300px;
        img {
            height: 62.5px;
        }
        h3 {
            a {
            text-transform: uppercase;
            color: $orange;
            font-weight: bold;
            font-size: 22px;
            padding-left: 10px;
            }
        }
    }
    nav {
        .nav-links {
            display: flex;
            align-items: center;
            margin: 0 auto;
            li {
                padding: 0 20px;
                a {
                    color: $nice-black;
                    font-weight: bold;
                    transition: $default-transition;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

.burger {
    display: none;
}

main {
    h1 {
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%, -20%);
    }
    .section-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
        margin: 0 0 10em 5em;
        p {
            color: $paragraph-color;
            text-align: left;
            font-size: 25px;
            padding-bottom: 1em;
        }
        button {
            height: 40px;
        }
    }
}


.footer {
    margin-top: -$footer-height;
    height: calc(#{$footer-height} * 2);
    background-color: $nice-black;
    .footer-wrapper {
        display: flex;
        height: $footer-height;
        margin-left: calc((100% - #{$wrapper-width}) / 2);
        width: 75%;
        align-self: center;
        align-items: center;
        justify-content: space-around;
        .footer-navigation {
            ul {
                display: flex;
                padding: 10px 0;
                border-bottom: 2px solid rgb(66, 66, 66);
                li {
                    padding: 0 10px;
                    a {
                        color: white;
                        font-size: $footer-text-size;
                        transition: $default-transition;
                        &:hover {
                            color: rgb(207, 207, 207);
                        }
                    }
                }
            }
            .footer-text {
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                p {
                    padding: 0 10px;
                    color: white;
                    font-size: $footer-text-size;
                }
            }
        }
        .footer-social-media {
            display: flex;
            flex-direction: column;
            filter: invert(70%);
            a {
                img {
                margin: 5px 0;
                height: 2.5em;
                transition: $default-transition;
                &:hover {
                    filter: invert(50%)
                }
                }
            }
        }
    }
}

button {
    padding: 9px 25px;
    background-color: $orange;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: $default-transition;
    &:hover {
        background-color: $orange-darker;
    }
}
.button {
    button {
        color: white;                    
        }
}

