//Reset SCSS

@import "colors.scss";
@import "sizes.scss";
@import "transition.scss";
@import "mediaquery.scss";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pointer-up {
    z-index: 1;
    position: fixed;
    height: 4rem;
    left: 93%;
    top: 88%;
    opacity: 70%;
    cursor: pointer;
    display: none;
}

header {
    z-index: 1;
    height: $header-height;
    background: $background-color;
    opacity: 98%;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
    .logo {
        display: flex;
        flex: 1;
        align-content: center;
        align-items: center;
        img {
            height: 4rem;
        }
        h3 {
            a {
            text-transform: uppercase;
            color: $orange;
            font-weight: bold;
            font-size: 22px;
            padding-left: .5rem;
            }
        }
    }
    nav {
        .nav-links {
            display: flex;
            flex: 2;
            align-items: center;
            margin: 0 auto;
            li {
                padding: 0 2rem;
                a {
                    color: $nice-black;
                    font-weight: bold;
                    transition: $default-transition;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    .button {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
}

.burger {
    display: none;
}

main {
    #fullpage {
        section {
            h1 {
                position: absolute;
                left: 50%;
                top: 15%;
                transform: translate(-50%, -15%);
            }
            .section-content {
                display: flex;
                height: 30vh;
                width: $wrapper-width;
                margin-left: calc((100% - #{$wrapper-width}) / 2);
                margin-bottom: 5rem;
                .section-text {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    justify-content: space-around;
                    p {
                        color: $paragraph-color;
                        text-align: left;
                        font-size: 25px;
                        padding-bottom: 1rem;
                    }
                    button {
                        height: 3rem;
                    }
                }
                .section-picture {
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                    .about-us-headshot {
                        height: 15rem;
                        align-self: center;
                        border-radius: 50%;
                        // filter: grayscale(100%);
                    }
                }
                
            }
        }
    }
}


.footer {
    margin-top: -$footer-height;
    height: calc(#{$footer-height} * 2);
    background-color: $nice-black;
    .footer-wrapper {
        display: flex;
        height: $footer-height;
        margin-left: calc((100% - #{$wrapper-width}) / 2);
        width: 75%;
        align-self: center;
        align-items: center;
        justify-content: space-around;
        .footer-navigation {
            ul {
                display: flex;
                padding: 10px 0;
                border-bottom: 2px solid rgb(66, 66, 66);
                li {
                    padding: 0 1rem;
                    a {
                        color: white;
                        font-size: $footer-text-size;
                        transition: $default-transition;
                        &:hover {
                            color: rgb(207, 207, 207);
                        }
                    }
                }
            }
            .footer-text {
                display: flex;
                justify-content: space-between;
                padding: 1rem 0;
                p {
                    padding: 0 1rem;
                    color: white;
                    font-size: $footer-text-size;
                }
            }
        }
        .footer-social-media {
            display: flex;
            flex-direction: column;
            filter: invert(70%);
            a {
                img {
                margin: 5px 0;
                height: 1.5rem;
                transition: $default-transition;
                &:hover {
                    filter: invert(50%)
                }
                }
            }
        }
    }
}

button {
    padding: 9px 25px;
    background-color: $orange;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: $default-transition;
    &:hover {
        background-color: $orange-darker;
    }
}
.button {
    button {
        color: white;                    
        }
}