//Reset SCSS

@import "variables.scss";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: $header-height;
    background: $background-color;
    opacity: 98%;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    .logo {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 300px;
        img {
            height: 62.5px;
        }
        h3 {
            a {
            text-transform: uppercase;
            color: $orange;
            font-weight: bold;
            font-size: 22px;
            padding-left: 10px;
            }
        }
    }
    nav {
        .nav-links {
            display: flex;
            align-items: center;
            margin: 0 auto;
            li {
                padding: 0 20px;
                a {
                    color: $nice-black;
                    font-weight: bold;
                    transition: 0.3s;
                    &:hover {
                        color: black;
                    }
                }
                button {
                    padding: 9px 25px;
                    background-color: $orange;
                    border: none;
                    border-radius: 50px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover {
                        background-color: $orange-darker;
                    }
                }
                .cta {
                    button {
                        color: white;                    
                        }
                    }
                }
            }
        }
    }
    .burger {
        display: none;
    }

main {
    height: 100vh;
    .showcase {
        height: 500px;
        background-image: url("/images/static-imgs/repair2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1, h2 {
            font-weight: bolder;
            color: #f3f3f3;
            text-shadow: black 0px 0px 20px;
            font-family: 'Poppins', sans-serif;
        }
        h1 {
            font-size: 76px;
        }
        h2 {
            font-size: 48px;
        }
    }
}

footer {
    height: 100px;
    background-color: $nice-black;
    p {
        color: white;
    }
    .footer-social-media {
        display: flex;
        flex-direction: column;
        a {
            img {
            padding: 5px 0;
            height: 40px;
            }
        }
    }
}

.wrapper {
    display: flex;
    height: 100px;
    margin-left: calc((100% - #{$wrapper-width}) / 2);
    width: 75%;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}