$black: black;
$white: white;
$orange: #FF7035;
$nice-white: rgb(249, 249, 249);
$light-green: rgb(0, 232, 0);

$navlink: rgb(214, 214, 214);
$navlink-hover: $nice-white;

$logoname-hover: #d25e2d;

$nav-color: #2b2b2d;
$navlinkEV-color: #04C500;